<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }
      .hbtn{
         text-decoration: none;
         padding: 40px;
         position: absolute;
         top: 5%;
         left: 5%;
         transform: translate(-5%);
         border: 1px solid #fff;
         transition: 0.7s ease;
         color: #fff;
      }
      a:hover{
         color: #000;
         background: #fff;
      }
   </style>
</head>
<body style="font-family:  Century Gothic;">
   <header style="height: 100vh; 
        background: url(https://esda.imfast.io/img/thankyou.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;">
      <a class="hbtn" href="{% url 'pages:landing-page' %}">HOME</a>

   </header> 

</body>
</html>
  

   