<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>paypal</title>
</head>
<body>
	<!-- <form id="form"> -->
		<!-- <div id="amount"><input type="text" name="amount" placeholder="Amount"></div> -->
		<div id="paypal-button"></div>
	<!-- </form> -->
	


	
	<!-- paypal braintree integration -->
	<!-- Load the required checkout.js script -->
	<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>

	<!-- Load the required Braintree components. -->
	<script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
	<script src="https://js.braintreegateway.com/web/3.39.0/js/paypal-checkout.min.js"></script>

	<script>
		// var form = document.getElementById('form');
		// var amountE = document.getElementById('amount');
		// form.addEventListener('submit',(e)=>{
		// 	e.preventDefault();
		// 	var amount = amountE.value;

		// })
		// paypal

		paypal.Button.render({
		braintree: braintree,
			client: {
			    production: 'CLIENT_TOKEN_FROM_SERVER',
			    sandbox: '{{client_token}}'
			},
		 	env: 'sandbox', // Or 'production'
			commit: true, // This will add the transaction amount to the PayPal button

 			payment: function (data, actions) {
    			return actions.braintree.create({
	      			flow: 'checkout', // Required
			     	amount: 10.00, // Required
			    	currency: 'USD', // Required
			    	enableShippingAddress: true,
			    	shippingAddressEditable: true,
			    	shippingAddressOverride: {
				        recipientName: 'Scruff McGruff',
				        line1: '1234 Main St.',
				        line2: 'Unit 1',
				        city: 'Chicago',
				        countryCode: 'US',
				        postalCode: '60652',
				        state: 'IL',
				        phone: '123.456.7890'
				    }
		    	});
			},

		onAuthorize: function (payload) {
    		// Submit `payload.nonce` to your server.
    		nonce = payload.nonce
    		window.location = " {% url 'payment:p-transact' 1234 %}".replace(/1234/,nonce);
  		},
	}, '#paypal-button');
	</script>



	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>